.App {
display: flex;
justify-content: center;
align-items:center;
margin-top: 25px;
}

td{padding: 20px;}
table{  border-collapse: collapse;}
.inputContainer{
    display: flex;
    align-items:center
}
label{display: inline-block;
width:200px;
}